@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /*background: #eee;*/
    font-size: 16px;
    line-height: 1;
    padding: 20px;
    font-family: "Lucida Console", Monaco, monospace;
}

p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 140%;
    font-weight: normal;
    line-height: 1.5;
}

.postit5 {
    position: relative;
    display: inline-block;
    -webkit-box-shadow: 0 8px 10px -7px #999;
    -moz-box-shadow: 0 8px 10px -7px #999;
    box-shadow: 0 8px 10px -7px #999;
    -webkit-border-bottom-right-radius: 60px 10px;
    -moz-border-radius-bottomright: 60px 10px;
    border-bottom-right-radius: 60px 10px;
    margin: 0 0 20px 20px;
}

.postit1, .postit2, .postit3, .postit4 {
    position: relative;
    padding: 25px;
    display: inline-block;
    -webkit-box-shadow: 0 8px 10px -7px #999;
    -moz-box-shadow: 0 8px 10px -7px #999;
    box-shadow: 0 8px 10px -7px #999;
    -webkit-border-bottom-right-radius: 60px 10px;
    -moz-border-radius-bottomright: 60px 10px;
    border-bottom-right-radius: 60px 10px;
    margin: 0 0 20px 20px;
}

.postit1 h3, .postit2 h3, .postit3 h3, .postit4 h3, .postit5 h3 {
    border-top-width: 2px;
    border-top-style: dotted;
    margin: 0 -25px;
    padding: 15px 25px 0 25px;
}

.postit1 {
    background: #fefabc;
}

.postit1:hover, .postit2:hover, .postit3:hover, .postit4:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.postit1 h3 {
    border-top-color: #dbd581;
}

.postit2 {
    background: #FDD7DB;
}

.postit2 h3 {
    border-top-color: #E6A1A8;
}

.postit3 {
    background: #EAF763;
}

.postit3 h3 {
    border-top-color: #72A201;
}

.postit4 {
    background: #B9EAF6;
}

.postit4 h3 {
    border-top-color: #6DB4C4;
}

.postit5 {
    background: wheat;
}

.postit5 h3 {
    border-top-color: white;
    font-size: small;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . .";
}

.col {
    resize: both;
    overflow: auto;
}

.col:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
h1:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}